<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cif.dao.Curve1DMapper">
    
    <select id="getAllCurve1Ds" resultType="Curve1DBean">
        select * from curve1ds where categoryID = #{categoryID}
    </select>
    
    
    <select id="getCurve1D" resultType="Curve1DBean">
        select * from curve1ds where id = #{id}
    </select>

    <insert id="addCurve1D" parameterType="Curve1DBean" useGeneratedKeys="true" keyProperty="id">
        insert into curve1ds(name,categoryID,owner,
        startDepth, endDepth, depthLevel, dataType,
        curveUnit, depthUnit, propertiesEX, file,
        createdAt) 
          values( #{name}, #{categoryID}, #{owner}, 
          #{startDepth}, #{endDepth}, #{depthLevel}, #{dataType},
          #{curveUnit}, #{depthUnit}, #{propertiesEX}, #{file},
        now())
    </insert>
    
    <update id="updateCurve1D">
        update curve1ds set name = #{name}, 
        categoryID = #{categoryID},
        owner = #{owner}, 
        startDepth= #{startDepth}, 
        endDepth= #{endDepth}, 
        depthLevel= #{depthLevel}, 
        dataType= #{dataType},
        curveUnit= #{curveUnit}, 
        depthUnit= #{depthUnit}, 
        propertiesEX= #{propertiesEX}, 
        file= #{file},
        updatedAt = now()
          where id = #{id}
    </update>
    
    <delete id="deleteCurve1D"> 
        delete from curve1ds where id = #{id} 
    </delete>
    
</mapper>